{% extends "bets/layout.html" %}
{% load static %}

{% block title %}
    My Profile
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'bets/styles.css' %}">
{% endblock stylesheet %}

{% block body %}
    <h1>{{ name }}</h1>
    <hr>
    <h2> My Listings </h2>
    <div id="listings-list">
    {% for listing in listings %}
        <div id="listing-container">
            <h2>{{listing.title}}</h2>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}">
            {% endif %}
            <p>{{listing.description}}</p>
            {{listing.current_bid}}
        </div>
    {% endfor %}
    </div>
{% endblock %}