{% extends "bets/layout.html" %}
{% load static %}

{% block title %}
    {{ username }}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'bets/account-styles.css' %}">
    <link rel="stylesheet" href="{% static 'bets/styles.css' %}">
{% endblock stylesheet %}

{% block body %}
    <h1>{{ username }}</h1>
    <hr>
    <div id="profile-grid">
        <div id="listings-container">
            <h2 class="section-header"> Listings </h2>
            {% include "bets/listings_layout.html" %}
            {% if show_more %}
                <a id="show-more-anchor" href="{% url 'account_listings' username 1 %}" >Show More</a>
            {% endif %}
        </div>
        <div id="profile-bids">
            <div class="card border-primary shadow-sm">
                <div class="card-header bg-primary text-white">
                    Bets
                </div>
                <div class="card-body p-0 rounded-bottom" style="max-height: 35dvw; overflow: auto;">
                    {% if bids %}
                        <ol class="list-group list-group-flush list-group-numbered">
                            {% for bid in bids %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">{{ bid.listing.title }}</div>
                                    </div>
                                    <span class="badge bg-success rounded-pill">${{ bid.amount }}</span>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <li class="list-group-item text-center py-4">
                            <p class="text-muted mb-0">No bids yet. Be the first!</p>
                            <small>Starting bid: <strong>${{ listing.starting_bid }}</strong></small>
                        </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}