<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}LvoBuy{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">LvoBuy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                {% if authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="">My Bets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'new_listing'%}">New Listing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "logout" %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url "login" %}">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>