{% extends "bets/layout.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'bets/listing_page_styles.css' %}">
{% endblock stylesheet %}

{% block body %}
<div id="listing-grid">
    {% if listing.image_url %}
        <img id='listing-image' src="{{ listing.image_url }}">
    {% endif %}
    <div id="listing-info">
    <h1 id="listing-title">{{listing.title}}</h1>
    <hr>
    <p id="listing-description">{{listing.description}}</p>
    {{listing.starting_bid}}
    {% if authenticated and form%}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit", value="Bid">
    </form>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}