{% extends "bets/layout.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'bets/listing_page_styles.css' %}">
{% endblock stylesheet %}

{% block body %}
<div id="listing-grid">
    {% if listing.image_url %}
        <img id='listing-image' src="{{ listing.image_url }}">
    {% endif %}
    <div id="listing-info">
    <h1 id="listing-title">{{listing.title}}</h1>
    <hr>
    <p id="listing-description">{{listing.description}}</p>
    <h3>Current Bids</h3>
    <p id="listing-bids">
        {% if bids %}
            {% for bid in bids %}
                {{bid.bidder}}: {{ bid.amount }} <br>
            {% endfor %}
        {% else %}
            There are no current bids. Be the first!
        {% endif %}
    </p>
    
    {% if authenticated and bid_form %}
    {% if not bids %}
        Starting bid: {{listing.starting_bid}}
    {% endif %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ bid_form }}
        <input type="submit", value="Bid" name="submit_bid">
    </form>
    {% endif %}
    {% if message %}
            <div>{{ message }}</div>
    {% endif %}
    </div>
</div>

<div id="comments-section">
    {% if authenticated %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit", value="Post" name="submit_comment">
    </form>
    {% endif %}
    <hr>
    {% for comment in comments  %}
    <div class="comment-box">
        <a class="comment-anchor" href="{% url 'account' comment.commenter.username %}"><span class="comment-username">{{comment.commenter.username}}</span></a>
        <span class="comment-date">{{comment.date}}</span>
        <br>
        <span class="comment-content" data-full-text="{{ comment.comment }}">
        {% if comment.comment|length > 150 %}
            <span class="truncated-text">{{ comment.comment|slice:":150" }}...</span>
            <a href="javascript:void(0);" class="read-more">Read More</a>
        {% else %}
            {{comment.comment}}
        {% endif %}
        </span>
        <br>
    </div>
    {% endfor %}
</div>
<script src="{% static 'bets/read-more.js' %}"></script>
{% endblock %}