#profile-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.section-header, #show-more-anchor { 
    display: block;
    width: max-content; 
    margin: 1em auto;
    text-align: center;
}