#listing-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-2";
    justify-content: center;
    align-content: center;
}
#listing-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
    grid-area: box-1;
    justify-self: center;
    align-self: center;
}

#listing-info {
    grid-area: box-2;
}

#listing-bids {
    line-height: 2.5ex;
    max-height: 20ex;
    overflow: auto;
    padding-bottom: 1px;
}

#comments-section {
    padding: 3vw;
}

.comment-username {
    font-weight: bold;
}

.comment-date {
    font-size: small;
}

.comment-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-anchor {
    color: black;
    text-decoration: none;
}