.listing-item {
    height: 250px;
    max-width: 300px;
}

.listing-item #listing-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listing-item img {
    width: auto;
    max-width: 300px;
    height: 180px;
    object-fit: contain;
}

#listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#listing-anchor {
    color: black;
    text-decoration: none;
}